.header {
    display: flex;

}
.header > h1 {
    flex-grow: 8;
    display: inline-block;
    width: 80%;
    text-align: center;
    color: #c57325;
}

.header > div {
    flex-grow: 2;
    min-height: 80px;
    line-height: 80px;
    
    width: 20%;
}

.cart {
    border: none;
    background-color: transparent;
}

.initialQuery {
    display: flex;
    justify-content: space-around;
    
}

.initialQuery > div {
    border-radius: 5px;
    padding: 10px;
    margin-right: 2px;
    background-color: #f0f0f0;
    width: 30%;
    display: inline-block;    
}
.item {
    display: flex;
    margin-top: 3px;

}
.item :first-child {
    margin: 0px;
    padding: 0px;
    width: 70%;
}
.item :last-child {
    margin: 0px;
    padding: 0px;
    width: 30%;
}



.mainMenu {
    display: flex;
    flex-direction: column;
    margin-top: 30px; 
    
}
