.header {
    display: flex;

}
.header > h1 {
    flex-grow: 8;
    display: inline-block;
    width: 80%;
    text-align: center;
    color: #c57325;
}
.header button{
    cursor: pointer;
}

.header > div {
    flex-grow: 2;
    min-height: 80px;
    line-height: 80px;    
    width: 20%;

}

.cart {
    border: none;
    background-color: transparent;
}

.cartContent {

}

.initialQuery {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px; 
    
}

.initialQuery > div {
    border-radius: 5px;
    padding: 10px;
    margin-right: 2px;
    background-color: #f0f0f0;
    width: 30%;
    display: inline-block;    
}

.item {
    display: flex;
    margin-top: 3px;
   justify-content: flex-start;

}
.item :first-child {
    margin: 0px;
    padding: 0px;
    width: 70%;
}
.item :last-child {
    margin: 0px;
    padding: 0px;
    width: 30%;
}


.mainContainer{
    display: flex;
    justify-content: space-around;
}

.mainMenu {
    padding-left: 1%;
    border-radius: 5px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    flex-grow: 2;    
    margin-right: 5px:
    width: 20%; 
    
    
}
.mainMenu h2 {
    cursor: pointer;
}

.mainMenu li {
    cursor: pointer;
    margin-top: 3px;
    width: 40%;    
}

.showItems {
    margin-left: 1%;
    padding-left: 1%;  
    display: inline-block;
    flex-grow: 4;
    border-radius: 5px;    
    background-color: #f0f0f0;
    width: 40%;
}
.showItems h3{

    text-align: center;
}